#banner{
    height: 500px;
    padding-bottom: 40px;
    border-bottom: 5px solid grey;
}

#banner_img {
    width: 100%;
    height: 100%;
}

#questionHeader {
	padding: 5px;
	background-color: white; 
    position: relative;   
    width: 100%;
}

#sort_container {
    float: right;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#sort_time:hover, #sort_like:hover {
    cursor:pointer;
}

/* Question Posts Menu-------------------------*/
#questionPosts {
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Question Container--------------------*/
#question_block {
    /* position: relative; */
    margin-top: 100px;
}


/*Add question + editor*/
#add-question-btn {
    border-radius: 50%;
    background-color: rgba(70, 150, 255, 0.5);
    color: white;
    font-size: 85px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 100px;
    height: 100px;
    text-align: center;
    visibility: hidden;
}

#add-question-btn:hover {
    background-color: rgba(70, 150, 255);
    cursor: pointer;
}

#editor-window {
    background-color: rgba(255, 255, 255, 0.534);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#editor-container {
    background-color: white;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
    width: 800px;
    height: 500px;

}

.ql-container {
    background-color: white;
}

#editor-submit-btn {
    position: fixed;
    top: calc(50% + 300px);
    left: calc(50% + 300px);
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    border: solid 1px;
}

#editor-submit-btn:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}


#editor-cancel-btn {
    position: fixed;
    top: calc(50% + 300px);
    left: calc(50% - 380px);
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    border: solid 1px;
}

#editor-cancel-btn:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}










#question_table{
    width: 100%;
    font-family: sans-serif;
    font-size: 22px;
}


.c1{
    width: 5%;
    text-align: center;
    padding-right: 1px;
    font-size: 22px;
    text-align: center;

    white-space: nowrap;
    background-color: lightyellow;
}

.c2{
    width: 5%;
    text-align: center;
    padding-right: 1px;
    background-color: rgb(233, 233, 221);
}

.c3{
    width: 10%;
    padding-right: 2px;
}

.c4{
    width: auto;
    word-wrap: break-word;
word-break: break-all;
background-color: linen;
}

.c5{
    width: 14%;
    text-align: center;
color: #58697b;
padding-left: 1px;
padding-right: 1px;
font-size: 0.923em;
}

.c6{
    width: 14%;
    text-align: center;
color: #58697b;
padding-left: 1px;
padding-right: 1px;
font-size: 0.923em;
}

.tr{
    height: 50px;
}