#banner{
    height: 500px;
    padding-bottom: 40px;
    border-bottom: 5px solid grey;
}

#banner_img {
    width: 100%;
    height: 100%;
}

#questionHeader {
	padding: 5px;
	background-color: white; 
    position: relative;   
    width: 100%;
}

#sort_container {
    float: right;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* Question Posts Menu-------------------------*/
#questionPosts {
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#post_navbar{
    font-family: Arial, Helvetica, sans-serif;
}

#post_navbar_left {
    float: left;
}

#post_navbar_right {
    float: right;
}

.separator{
    border-left: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

#like_count {
    margin-left: 20px;
    margin-right: 10px;
}

#reply_count {
    margin-left: 10px;
}

/*Question Container--------------------*/
#question_block {
    /* position: relative; */
    margin-top: 100px;
}

.question_container{
    border: 2px solid silver;
    border-radius: 16px;
    height: 80px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.q_left{
    float: left;
    margin-left: 50px;
    transform: translateY(170%);
}

.q_right{
    float: right;
    margin-right: 30px;
    transform: translateY(170%);
}