#questionHeader {
	padding: 5px;
	background-color: white;
    margin-top: 300px; 
    position:absolute;   
    border-bottom: 1px solid grey;
    width: 100%
}

#questionHeader ul {

	/* Add properties below */
    text-align: left;
    
}


#questionHeader ul li {
	margin-right: 20px;
	font-weight: bold;
	list-style: none;
	/* Gets rid of list bullet points */
	text-align: left;
	/* Add a proper display property: We want the stats to have 
	a height, but also appear side-by-side */
	display: inline-block;

    
}

.questionheader-left {
   float: left;
   padding: 0;
   margin-left: 20px;
   text-align: left;

}
.questionheader-right {
    float: right;
    text-align: right;
    padding: 0;
    margin-right: 20px;
 
 }

/* Question Posts Menu-------------------------*/
#questionPosts {
    position: relative;
    margin-top: 400px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#post_navbar{
    font-family: Arial, Helvetica, sans-serif;
}

#post_navbar_left {
    float: left;
}

#post_navbar_right {
    float: right;
}

.separator{
    border-left: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

#like_count {
    margin-left: 20px;
    margin-right: 10px;
}

#reply_count {
    margin-left: 10px;
}

/*Question Container--------------------*/
#question_block {
    /* position: relative; */
    margin-top: 100px;
}

.question_container{
    border: 2px solid silver;
    border-radius: 16px;
    height: 80px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.q_left{
    float: left;
    margin-left: 50px;
    transform: translateY(170%);
}

.q_right{
    float: right;
    margin-right: 30px;
    transform: translateY(170%);
}