html, body {
    margin: 0;
    height: 100%;
}

.navbar {
    width: 100%;
    height: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

.navbar-page {
    float: left;
}

.navbar-user {
    float: right;
}

.login{
    padding: 10px 20px 10px 20px;
}

.navbar-page div {
    width: 10%;
    min-width: 100px;
    height: 30px;
    text-align: center;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0 0 0 0;
}




.navbar div div a {
    font-family: cursive;
    color: rgb(49, 49, 49);
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
}


.slideshow {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 500px;
    background-color: coral;
    text-align: center;
    font-size: 5em;
}

.slide {
    display: none;
    -webkit-animation-name: fade;       /* The fade effect is from: https://www.w3schools.com/howto/howto_js_slideshow.asp*/
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide img {
    width: 100%;
    height: 400px;
}

@-webkit-keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
}

.slide_dot {
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: silver;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot_on {
    background-color: grey;
}

.schedule {
    position: absolute;
    top: 550px;
    width: 40%;
    height: 400px;
    background-color: rgb(98, 98, 238);
    text-align: center;
    font-size: 5em;
}


.top-question {
    position: absolute;
    top: 550px;
    left: 40%;
    width: 30%;
    height: 400px;
    background-color: rgb(241, 234, 133);
    text-align: center;
    font-size: 5em;
}


.recent-question {
    position: absolute;
    top: 550px;
    left: 70%;
    width: 30%;
    height: 400px;
    background-color: rgb(217, 98, 238);
    text-align: center;
    font-size: 5em;
}

