.forbid-style{
    color: red;
    font-size: 14px;
    display: inline-block;
}
  
.btn_position{
  
    float: right;
    margin-top: 280px;
    margin-right: 0;

}
.textbox_position{
  margin-top: 0px;
  margin-right: 0;

}
#rwd_num{
  display:inline-block;
}
#bg-blur {
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.z-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 20px;
  text-align: center;
  z-index: +1;
  font-size: 25px;
  
}