#banner{
    height: 500px;
    padding-bottom: 40px;
    border-bottom: 5px solid grey;
}

#banner_img {
    width: 100%;
    height: 100%;
}

#questionHeader {
	padding: 5px;
	background-color: white; 
    position: relative;   
    width: 100%;
}

#sort_container {
    float: right;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#sort_time:hover, #sort_like:hover {
    cursor:pointer;
}

/* ---------Question Posts Menu-------------------------*/
#questionPosts {
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

/*----------Question Table--------------------*/

#question_table{
    width: 100%;
    font-family: sans-serif;
    font-size: 22px;
    margin-top: 20px;
}

#question_table_title td{
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: rgb(253, 210, 204);
}

.c1{
    width: 5%;
    text-align: center;
    padding-right: 1px;
    font-size: 22px;
    text-align: center;
    white-space: nowrap;
    background-color: lightyellow;
}

.c2{
    width: 5%;
    text-align: center;
    padding-right: 1px;
    background-color: #fff8e7;
}

.c3{
    width: 10%;
    text-align: center;
    padding-right: 2px;
    background-color: #fff6df;
}

.c4{
    width: auto;
    background-color: #fff0cd;
    padding-left: 40px;
}

.c4 a{
    font-family:cursive;
    color:rgb(77, 77, 77);
    text-decoration: none;
}

.c4 a:hover {
    color: black;
}

.c5{
    width: 14%;
    text-align: center;
    color: #58697b;
    font-size: 0.923em;
    background-color: #fff6df;
}

.c5 a{
    color:rgb(40, 100, 168);
    text-decoration: none;
}

.c6{
    width: 14%;
    text-align: center;
    color: #58697b;
    font-size: 0.923em;
    background-color: #fff0cd;
}

.c6 a {
    color:rgb(52, 148, 28);
    text-decoration: none;
}

.c5 a:hover, .c6 a:hover {
    text-decoration: underline;
}

.tr{
    height: 50px;
}

/*Add question + editor*/
#add-question-btn {
    border-radius: 50%;
    background-color: rgba(70, 150, 255, 0.5);
    color: white;
    font-size: 85px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 100px;
    height: 100px;
    text-align: center;
    visibility: visible;
}

#add-question-btn:hover {
    background-color: rgba(70, 150, 255);
    cursor: pointer;
}

#editor-window {
    background-color: rgba(255, 255, 255, 0.678);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#editor-message {
    text-align: center;
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 400px);
    width: 800px;
    font-size: 30px;
    font-family:cursive;
    height: 50px;
    text-shadow: 0 2px white, 0 3px #777;
}

#editor-container {
    background-color: white;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
    width: 800px;
    height: 430px;
}

#title-field {
    width: 780px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 5px;
    padding-left: 15px;
}

#title-field:invalid {
    border: 2px solid red;
}

#title-field::placeholder {
    color: grey;
}

.ql-container {
    background-color: white;
}

.ql-editor {
    font-size: 20px;
}

#editor-submit-btn {
    position: fixed;
    top: calc(50% + 300px);
    left: calc(50% + 300px);
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    border: solid 1px;
}

#editor-submit-btn:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}


#editor-cancel-btn {
    position: fixed;
    top: calc(50% + 300px);
    left: calc(50% - 380px);
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    border: solid 1px;
}

#editor-cancel-btn:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

#reward-setter{
    position: fixed;
    top: calc(50% + 300px);
    left: calc(50% - 200px);
    display: inline;
    font-size: 20px;
}

#level-limit-setter{
    position: fixed;
    top: calc(50% + 300px);
    left: calc(50% + 50px);
    display: inline;
    font-size: 20px;
}

input[type=number]{
    width: 50px;
    height: 30px;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 30px;
}