a {
	text-decoration: none;
	color: black;
}

.question-banner {
    height: 300px;
}

.question-banner img {
    height: 100%;
    width: 100%;
}

.sort-container {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 350px;
    right: 0;
    float: right;
    text-align: right;
    padding: 0;
    margin-right: 20px;
    font-size: 20px;
}

.sort-container span {
    font-size: 18px;
}

.sort-container span:hover {
    cursor:pointer;
}

#sort-by-time {
    text-decoration: none;
}

#sort-by-like {
    text-decoration: underline;
}

.question-container{
	border-radius: 10px;
	background-color: white;
	margin: 0;
	min-height: 300px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
}


.post-container {
	background-color: white;
	min-height: 100px;
	border-bottom: 1px solid grey;
	overflow: auto;
    height: auto;
    display: flex;
}


.post-profile {
    width: 500px;
	display: inline-block;
    background-color:lightblue;
    min-height: 250px;
}

.post-profile-answerer {
    width: 500px;
	display: inline-block;
    background-color:rgb(245, 233, 199);
    min-height: 250px;
}

.post-profile-icon {
    text-align: center;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	vertical-align: top;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 125px;
}

.post-profile-info{
    text-align: center;
    vertical-align: bottom;
    padding: 0px;
    padding: 10px 0 20px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
    

.post-content {
    padding: 10px 10% 10px 10%;
    padding-left: 40px;
	margin-left: 0;
	display: inline-block;
	width: calc(100% - 500px);
	vertical-align: top;
	margin-top: 20px;
    min-height: 250px;
    overflow: hidden;
}

@media only screen and (max-width: 1300px){
    .post-content {
        width: calc(75% - 260px);
    }

    .post-profile, .post-profile-answerer { 
        width:  250px;
    }

    .post-profile-icon {
        margin-left: 25px;
    }

}

/*-----------like & dislike---------------*/
.vote_container{
    text-align: center;
    width: 70px;
    height: 300px;
    float: left;
    margin-left: 0px;
}

.like_button_question{
    font-size: 72px;
    color: silver;
    margin-top: 10px;
    cursor: pointer;
}

.dislike_button_question{
    font-size: 72px;
    color: silver;
    cursor: pointer;
}

.like_num{
    font-size: 64px;
    color: rgb(236, 104, 148);
}

.like_button_answer{
    font-size: 72px;
    color: silver;
    margin-top: 10px;
    cursor: pointer;
}

.dislike_button_answer{
    font-size: 72px;
    color: silver; 
    cursor: pointer;
}

/*------ Question Posts---------------*/
.question-header {
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-bottom: solid black 2px;
    margin-left: 100px;
}

#question-title {
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#question-status {
    margin-left: 20px;
    font-size: 25px;
    color: gray;
}

.post-description {
    padding: 30px 10px 30px 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    min-height: 170px;
}

.post-description img {
    max-width: 100%;
}


#question-reward {
    font-size: 20px;
    color:rgb(226, 107, 9);
    margin-left: 100px;
}


#addquestionCircle {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	top: 300px;
	left: 100px;
	position: absolute;
	border: 3px solid white;
}

.user-level{
    color:grey;
}

.display-name{
    color:black;
    font-size: 25px;
}

.display-name:hover {
    text-decoration: underline;
}

.accept-description{
    color:green; 
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    padding-top: 50px;
}

#add-answer-btn {
    border-radius: 50%;
    background-color: rgba(70, 150, 255, 0.5);
    color: white;
    font-size: 85px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 100px;
    height: 100px;
    text-align: center;
    visibility: hidden;
}

#add-answer-btn:hover {
    background-color: rgba(70, 150, 255);
    cursor: pointer;
}

#editor-window {
    background-color: rgba(255, 255, 255, 0.671);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#editor-message {
    text-align: center;
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 400px);
    width: 800px;
    font-size: 30px;
    font-family:cursive;
    height: 50px;
    text-shadow: 0 2px white, 0 3px #777;
}

#editor-container {
    background-color: white;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
    width: 800px;
    height: 500px;
}

.ql-container {
    background-color: white;
}

.ql-editor {
    font-size: 20px;
}

#editor-submit-btn {
    position: fixed;
    top: calc(50% + 300px);
    left: calc(50% + 300px);
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    border: solid 1px;
    background-color: white;
}

#editor-submit-btn:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}


#editor-cancel-btn {
    position: fixed;
    top: calc(50% + 300px);
    left: calc(50% - 380px);
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    border: solid 1px;
    background-color: white;
}

#editor-cancel-btn:hover {
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

/*-------- Low Level User View   ---------------*/
#limit-container {
    background-color: rgb(245, 156, 156);
    min-height: 300px;
    border-bottom: 1px solid grey;
    overflow: auto;
    height: auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding-top: 100px;
}

#limit-level {
    color: red;
}

#limit-gold {
    color: rgb(251, 251, 137);
}

#limit-btn {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    font-size: 25px;
}

#limit-btn:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#user-rule {
    display: inline-block;
    margin-right: 5px;
    background-color: rgb(61, 130, 221);
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

/*-------- Admin View   ---------------*/
.mute-user-container {
    width: 100%;
    margin-bottom: 20px;
}

.mute-user-btn {
    height: 40px;
    width: 80px;
    color: rgb(223, 74, 74);
    font-size: 20px;
    border: solid 1px rgb(87, 87, 87);
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin-left: calc(50% - 40px);
}

.mute-user-btn:hover{
    background-color: rgb(238, 215, 245);
    cursor: pointer;
}

.delete-post-container {
    width: 100%;
}

.delete-post-btn{
    float: right;
    margin-right: 0;
    height: 50px;
    width: 180px;
    text-align: center;
    float: right;
    color: rgb(223, 74, 74);
    font-size: 20px;
    border: solid 1px rgb(87, 87, 87);
    border-radius: 5px;
    background-color: white;
}

.delete-post-btn:hover{
    background-color: rgb(238, 215, 245);
    cursor: pointer;
}

#confirmation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.459);
    z-index: 99;
}

#confirmation-window {
    position: fixed;
    top: calc(50% - 125px);
    left: calc(50% - 200px);
    width: 400px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: rgb(136, 136, 136) 1px solid;
    border-radius: 5px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    user-select: none;
}

#confirmation-close {
    position: fixed;
    text-align: center;
    width: 40px;
    height: 40px;
    top: calc(50% - 125px);
    left: calc(50% + 150px);
    font-size: 40px;
}

#confirmation-close:hover {
    cursor: pointer;
    color: grey;
}

#confirmation-message {
    position: fixed;
    top: calc(50% - 45px);
    left: calc(50% - 150px);
    width: 300px;
    font-size: 25px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#confirmation-password{
    position: fixed;
    top: 50%;
    left: calc(50% - 100px);
    width: 200px;
    font-size: 18px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#confirmation-wrong {
    position: fixed;
    top: calc(50% + 40px);
    left: calc(50% - 100px);
    width: 200px;
    font-size: 18px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

#confirmation-cancel{
    position: fixed;
    top: calc(50% + 90px);
    left: calc(50% - 180px);
    color:  rgb(175, 6, 6) ;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    font-size: 20px;
    text-align: center;
}

#confirmation-confirm{
    position: fixed;
    top: calc(50% + 90px);
    left: calc(50% + 95px);
    color:  rgb(13, 144, 3);
    border-radius: 5px;
    width: 70px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

#confirmation-cancel:hover {
    cursor: pointer;
    color: rgb(255, 12, 12);
}

#confirmation-confirm:hover {
    cursor: pointer;
    color: rgb(21, 255, 0);
}